In [197]:
import pandas as pd 
import numpy as np

In [198]:
df=pd.read_csv('Train/Train.csv')

In [199]:
df.head(n=10)
#df.info()
#df['body']
#df['boat']

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.7500,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.0000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.0000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.2500,NaN,Q,16,NaN,NaN
5,2.0,0.0,"Gaskell, Mr. Alfred",male,16.0,0.0,0.0,239865,26.0000,NaN,S,NaN,NaN,"Liverpool / Montreal, PQ"
6,2.0,0.0,"Phillips, Mr. Escott Robert",male,43.0,0.0,1.0,S.O./P.P. 2,21.0000,NaN,S,NaN,NaN,"Ilfracombe, Devon"
7,1.0,1.0,"Leader, Dr. Alice (Farnham)",female,49.0,0.0,0.0,17465,25.9292,D17,S,8,NaN,"New York, NY"
8,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
9,2.0,0.0,"Wheeler, Mr. Edwin ""Frederick""",male,NaN,0.0,0.0,SC/PARIS 2159,12.8750,NaN,S,NaN,NaN,NaN

pclass-Deciding Factor 
survived -Outcome
name- not Deciding Factor
sex - Deciding Factor 
age -Deciding Factor
sibsp- Deciding Factor   
parch  -Deciding Factor  
ticket -Not Deciding Factor  
fare - Deciding Factor
cabin - Not Deciding Factor  
embarked -Not Deciding Factor 
boat - Alot of missing entries
body - Alot of missing entries
home.dest  - Not Deciding Factor

In [200]:
deletecols=['name','ticket','cabin','embarked','boat','boat','body','home.dest']
xcols=['pclass','sex','age','sibsp','parch','fare']
ycols=['survived']

clean_data=df.drop(deletecols,axis=1)
Ydata=clean_data.drop(xcols,axis=1)
Xdata=clean_data.drop(ycols,axis=1)

In [201]:
#Xdata.head()
#Ydata.head()

In [202]:
Xdata=Xdata.fillna( Xdata['age'].mean() )

In [203]:
Xdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1009 non-null   float64
 1   sex     1009 non-null   object
 2   age     1009 non-null   float64
 3   sibsp   1009 non-null   float64
 4   parch   1009 non-null   float64
 5   fare    1009 non-null   float64
dtypes: float64(5), object(1)
memory usage: 43.4+ KB

In [204]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Xdata['sex']=le.fit_transform(Xdata['sex'])

In [219]:
from sklearn.ensemble import RandomForestClassifier 
rf=RandomForestClassifier(n_estimators=30,criterion='entropy',max_depth=10)
Ylabels=Ydata.columns
ylabel=Ylabels[0]
rf.fit(Xdata,Ydata[ylabel])
rf.score(Xdata,Ydata[ylabel])

from sklearn.model_selection import cross_val_score
acc=cross_val_score( RandomForestClassifier(n_estimators=500,max_depth=10,criterion='entropy'),Xdata,Ydata[ylabel],cv=5).mean()
print(acc)

0.8007881385153441

In [220]:
df=pd.read_csv('Test\Test.csv')
df.head()
# Our Analysis 
deletecols=['name','ticket','cabin','embarked','boat','boat','body','home.dest']
xcols=['pclass','sex','age','sibsp','parch','fare']
ycols=['survived']

Xtest=df.drop(deletecols,axis=1)

In [221]:
#Xtest.info()
#Xtest.head()
#Age Resolveer
Xtest=Xtest.fillna(Xtest['age'].mean())
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Xtest['sex']=le.fit_transform(Xtest['sex'])

In [222]:
#Xtest.info()
#Xtest.head()

In [223]:
Ypred_test=rf.predict(Xtest)

In [224]:
pd.DataFrame?

In [225]:
df=pd.DataFrame(Ypred_test,columns=['survived'])

In [226]:
df.to_csv('Ypredictions.csv')