In [1]:
import pandas as pd 
import numpy as np

In [2]:
SampleSubmission=pd.read_csv('Dataset/gender_submission.csv')
data=pd.read_csv('Dataset/train.csv')
test=pd.read_csv('Dataset/test.csv')

In [3]:
SampleSubmission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
#Data Info 
data.info()
# We get to know that  
#Age =>714 row entries only => 891-714=177 entries are missing 
#Cabin=>204 row entries only=> 891-204=687 entries are missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [7]:
#PassengerId - Not Deciding factor for person survival  
#Survived - Outcome[Y]       
#Pclass -Deciding Factor
    #pclass: A proxy for socio-economic status (SES)
    #1st = Upper
    #2nd = Middle
    #3rd = Lower        
#Name -Not Deciding factor for person survival          
#Sex- May be deciding             
#Age -May be deciding            
#SibSp -May be Deciding Factor
    # No.of siblings / spouses aboard the Titanic
#Parch -May be deciding Factor
    # No. of parents / children aboard the Titanic
#Ticket -Ticket Number cannot be deciding factor        
#Fare- Fare can be deciding factor depending upon if it was business class ticket etc         
#Cabin - Not Deciding factor for person survival
#Embarked - Not Deciding factor for person survival
    #Port of Embarkation
    #C = Cherbourg, Q = Queenstown, S = Southampton

In [8]:
cols_to_remove=['PassengerId','Name','Ticket','Embarked','Cabin']

In [9]:
clean_data=data.drop(labels=cols_to_remove, axis=1)
clean_data.head()
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 45.3+ KB

In [10]:
# Now We need to convert Sex into numeric data 
#sex_num={'male':1, 'female':0}
#clean_data['Sex'].size
#for i in range(clean_data['Sex'].size):
    #clean_data['Sex'][i]=sex_num[clean_data['Sex'][i]]
#Option 2 Use Sklearn  
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
clean_data['Sex']=le.fit_transform(data['Sex'])

In [11]:
# Age Missing Entries Fill Up 
clean_data=clean_data.fillna(value=int(clean_data['Age'].mean()))
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [12]:
import numpy as np
from sklearn.impute import SimpleImputer 
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [13]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [14]:
#To View Any Row Details 
clean_data.loc[2]

Survived     1.000
Pclass       3.000
Sex          0.000
Age         26.000
SibSp        0.000
Parch        0.000
Fare         7.925
Name: 2, dtype: float64

In [15]:
#To Separate X and Y 
Xcols=['Sex','Age','SibSp','Parch','Fare','Pclass']
Ycols=['Survived']
Xdata=clean_data.drop(Ycols, axis=1)
Y=clean_data.drop(Xcols, axis=1)

#This Contains x and y both 
#xdata=clean_data

In [16]:
Xdata

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         3    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         3    1  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    1  27.0      0      0  13.0000
887       1    0  19.0      0      0  30.0000
888       3    0  29.0      1      2  23.4500
889       1    1  26.0      0      0  30.0000
890       3    1  32.0      0      0   7.7500

[891 rows x 6 columns]

In [17]:
Y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [18]:
#Spliting 
split=int(0.7*Xdata.shape[0])
Xtrain=Xdata[:split]
Ytrain=Y[:split]
Xtest=Xdata[split:]
Xtest.reset_index(drop=True) #Imp
Ytest_actual=Y[split:]
Ytest_actual.reset_index(drop=True) # IMP

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         1
267         0

[268 rows x 1 columns]

In [19]:
from sklearn.tree import DecisionTreeClassifier
sk_tree=DecisionTreeClassifier(criterion='entropy',max_depth=5)
sk_tree.fit(Xtrain,Ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
y_pred=sk_tree.predict(Xtest)

In [21]:
accuracy=sk_tree.score(Xtest,Ytest_actual)

In [27]:
#Visualizing The data 
#Using graph viz 
import pydotplus
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

In [29]:
dot_data=StringIO()
export_graphviz(sk_tree, out_file=dot_data,filled =True, rounded=True)
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

InvocationException: GraphViz's executables not found