In [1]:
import pandas as pd

In [2]:
SampleSubmission=pd.read_csv('Dataset/gender_submission.csv')
data=pd.read_csv('Dataset/train.csv')
test=pd.read_csv('Dataset/test.csv')

In [3]:
SampleSubmission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
#Data Info 
data.info()
# We get to know that  
#Age =>714 row entries only => 891-714=177 entries are missing 
#Cabin=>204 row entries only=> 891-204=687 entries are missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [7]:
#PassengerId - Not Deciding factor for person survival  
#Survived - Outcome[Y]       
#Pclass -Deciding Factor
    #pclass: A proxy for socio-economic status (SES)
    #1st = Upper
    #2nd = Middle
    #3rd = Lower        
#Name -Not Deciding factor for person survival          
#Sex- May be deciding             
#Age -May be deciding            
#SibSp -May be Deciding Factor
    # No.of siblings / spouses aboard the Titanic
#Parch -May be deciding Factor
    # No. of parents / children aboard the Titanic
#Ticket -Ticket Number cannot be deciding factor        
#Fare- Fare can be deciding factor depending upon if it was business class ticket etc         
#Cabin - Not Deciding factor for person survival
#Embarked - Not Deciding factor for person survival
    #Port of Embarkation
    #C = Cherbourg, Q = Queenstown, S = Southampton

In [8]:
cols_to_remove=['PassengerId','Name','Ticket','Embarked','Cabin']

In [9]:
clean_data=data.drop(labels=cols_to_remove, axis=1)
clean_data.head()
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 45.3+ KB

In [10]:
# Now We need to convert Sex into numeric data 
#sex_num={'male':1, 'female':0}
#clean_data['Sex'].size
#for i in range(clean_data['Sex'].size):
    #clean_data['Sex'][i]=sex_num[clean_data['Sex'][i]]
#Option 2 Use Sklearn  
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
clean_data['Sex']=le.fit_transform(data['Sex'])

In [11]:
# Age Missing Entries Fill Up 
clean_data=clean_data.fillna(value=int(clean_data['Age'].mean()))
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [12]:
import numpy as np
from sklearn.impute import SimpleImputer 
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [13]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [14]:
#To View Any Row Details 
clean_data.loc[2]

Survived     1.000
Pclass       3.000
Sex          0.000
Age         26.000
SibSp        0.000
Parch        0.000
Fare         7.925
Name: 2, dtype: float64

In [15]:
#To Separate X and Y 
Xcols=['Sex','Age','SibSp','Parch','Fare','Pclass']
Ycols=['Survived']
Xdata=clean_data.drop(Ycols, axis=1)
Y=clean_data.drop(Xcols, axis=1)

#This Contains x and y both 
#xdata=clean_data

In [16]:
Xdata

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         3    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         3    1  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    1  27.0      0      0  13.0000
887       1    0  19.0      0      0  30.0000
888       3    0  29.0      1      2  23.4500
889       1    1  26.0      0      0  30.0000
890       3    1  32.0      0      0   7.7500

[891 rows x 6 columns]

In [17]:
Y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

## Second Attempt 
def entropy(col):
    counts=np.unique(col,return_counts=True)
    N=col.shape[0]
    ent=0.0
    for ix in counts[1]:
        p=float(ix)/N
        ent+=(-1.0*p*np.log2(p))
    return ent

## Second Attempt 
def divide_data(xdata,ydata,fkey,fval):
    x_left=pd.DataFrame([],columns=xdata.columns)
    y_left=pd.DataFrame([],columns=ydata.columns)
    x_right=pd.DataFrame([],columns=xdata.columns)
    y_right=pd.DataFrame([],columns=ydata.columns)
    
    for ix in range(xdata.shape[0]):
        #print(xdata.loc[ix])
        val=xdata[fkey].loc[ix]
        if(val>fval):
            x_right=x_right.append(xdata.loc[ix])
            y_right=y_right.append(ydata.loc[ix])
        else:
            x_left=x_left.append(xdata.loc[ix])
            y_left=y_left.append(ydata.loc[ix])
    return x_left,y_left,x_right,y_right

## Second Attemp
def informationGain(xdata,ydata,fkey,fval):
    hs=entropy(ydata)
    N=xdata.shape[0]
    
    x_left,y_left,x_right,y_right=divide_data(xdata,ydata,fkey,fval)
    if(x_left.shape[0]==0 or x_right.shape[0]==0):
        #As we have classified our data into 1 set => Matlab we have not being able to decrease randomness 
        #As our target was to split the data into 2 halves Which wasnt achieved 
        return -100000
    
    sv1=x_left.shape[0]
    hsv1=entropy(y_left)
    
    sv2=x_right.shape[0]
    hsv2=entropy(y_right)
    
    ig=hs-( (float(sv1/N)*hsv1) +  (float(sv2/N)*hsv2) )
    return ig

In [19]:
#for col in Xdata.columns:
   # print(col)
    #print(informationGain(Xdata,Y,col,Xdata[col].mean()))

#Results That Should Come 
"""
Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.0008836151229467681
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464
"""

## 2nd Attempt
class DecisionTree:
    def __init__(self,depth=0,max_depth=5):
        self.left=None
        self.right=None
        self.fkey=None
        self.fval=None
        self.max_depth=max_depth
        self.depth=depth
        self.target=None 
    def train(self,x_train,y_train):
        if(x_train.shape[0]==0):
            return 
        features=list(x_train.columns)
        infoGain=[]
        for test_fkey in features:
            threshold=x_train[test_fkey].mean()
            ig=informationGain(x_train,y_train,test_fkey,threshold)
            infoGain.append(ig)
        self.fkey=features[ np.argmax(infoGain)]
        self.fval=x_train[self.fkey].mean()
        print('We Are making feature as ',self.fkey)
        
        x_left,y_left,x_right,y_right=divide_data(x_train,y_train,self.fkey,self.fval)
        
        x_left=x_left.reset_index(drop=True)
        y_left=y_left.reset_index(drop=True)
        x_right=x_right.reset_index(drop=True)
        y_right=y_right.reset_index(drop=True)
        
        ycolname=y_train.columns
        ycolname=ycolname[0]
        if(x_left.shape[0]==0 or x_right.shape[0]==0):
            #That Means Its A leaf Node as We could Not classify it and its the max infoGain we could achieve 
            # For leaf Node we will set the target value
            if(y_train[ycolname].mean()>=0.5):
                self.target=1
            else:
                self.target=0
            # This return ensures we dont grow decison tree further 
            return 
        if(self.depth>=self.max_depth):
            if(y_train[ycolname].mean()>=0.5):
                self.target=1
            else:
                self.target=0
            return 
        
        #If U reach here that means we have not reached a leaf node 
        # So we need to create left and right subtree
        self.left=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(x_left,y_left)
        self.right=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(x_right,y_right)
        #If you Want You can set the target for every node
        #It is not essential as we will predict using leaf node only 
        if(y_train.mean()>0.5):
            self.target=1
        else:
            self.target=0
        return

In [20]:
#Dtree=DecisionTree()

In [21]:
#Dtree.train(Xdata,Y)

In [22]:
#print(type(Y[Y.columns[0]]))

In [23]:
def entropy(col):
    counts=np.unique(col,return_counts=True)
    N=float(col.shape[0])
    ent=0.0
    for ix in counts[1]:
        p=ix/N
        ent+=(-1.0*p*np.log2(p))
    return ent
# Entropy Takes Input as a series datatype of pandas

In [24]:
# Takes input as panda dataframe
def divide_data(xdata,ydata,fkey,fval):
    x_left=pd.DataFrame([],columns=xdata.columns)
    y_left=pd.DataFrame([],columns=ydata.columns)
    x_right=pd.DataFrame([],columns=xdata.columns)
    y_right=pd.DataFrame([],columns=ydata.columns)
    
    for ix in range(xdata.shape[0]):
        val=xdata[fkey].loc[ix]
        if(val>fval):
            x_right=x_right.append(xdata.loc[ix])
            y_right=y_right.append(ydata.loc[ix])
        else:
            x_left=x_left.append(xdata.loc[ix])
            y_left=y_left.append(ydata.loc[ix])
    return x_left,y_left,x_right,y_right
# Takes input as pandas data frame 
def information_gain(xdata,ydata,fkey,fval):
    x_left,y_left,x_right,y_right=divide_data(xdata,ydata,fkey,fval)
    
    l=float(x_left.shape[0])/xdata.shape[0]
    r=float(x_right.shape[0]/xdata.shape[0])
    if x_left.shape[0]==0 or x_right.shape[0]==0:
        return -1000000
    
    ylabels=ydata.columns
    ylabel=ylabels[0]
    i_gain=entropy(ydata[ylabel])-(l*entropy(y_left[ylabel]) + r*entropy(y_right[ylabel]))
    return i_gain

In [38]:
class DecisionTree:
    def __init__(self,max_depth=5,depth=0):
        self.left=None
        self.right=None
        self.depth=depth
        self.fkey=None
        self.fval=None
        self.max_depth=max_depth
        self.target=None
    def train(self,x_train,y_train):
        features=list(x_train.columns)
        info_gains=[]
        for feature in features:
            i_gain=information_gain(x_train,y_train,feature,x_train[feature].mean())
            info_gains.append(i_gain)
        self.fkey=features[np.argmax(info_gains)]
        self.fval=x_train[self.fkey].mean()
        print('Feature:',self.fkey)
        #Split The Data 
        x_left,y_left,x_right,y_right=divide_data(x_train,y_train,self.fkey,self.fval)
        
        x_left=x_left.reset_index(drop=True)
        y_left=y_left.reset_index(drop=True)
        x_right=x_right.reset_index(drop=True)
        y_right=y_right.reset_index(drop=True)
        
        ylabels=y_train.columns
        ylabel=ylabels[0]
        if(self.depth>=self.max_depth):
            if(y_train[ylabel].mean()>=0.5):
                self.target=1
            else:
                self.target=0
            return 
        if(x_left.shape[0]==0 or x_right.shape[0]==0):
            if(y_train[ylabel].mean()>=0.5):
                self.target=1
            else:
                self.targe=0
            return 
        #Recursive 
        self.left=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(x_left,y_left)
        self.right=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(x_right,y_right)
        
        if(y_train[ylabel].mean()>=0.5):
            self.target=1
        else:
            self.target=0
        return 
    def predict(self,test):
        #Test will be a dataframe of same format as used for training data 
        if(test[self.fkey] > self.fval):
            #Move to right subtree
            # Base Case When right subtree doesnt exist => we reached a leaf node
            if(self.right is None):
                return self.target 
            else:
                return self.right.predict(test)
        else:
            #Move to left subtree
            # Base Case if left subtree doesnt exist =>We have reached a leaf node
            if(self.left is None ):
                return self.target
            else:
                return self.left.predict(test)

In [39]:
myDt=DecisionTree()
myDt.train(Xdata,Y)

Feature: Sex
Feature: Pclass
Feature: Pclass
Feature: Parch
Feature: Age
Feature: Age
Feature: Age
Feature: Parch
Feature: Age
Feature: Fare
Feature: Parch
Feature: Age
Feature: Age
Feature: Age
Feature: Age
Feature: Age
Feature: Age
Feature: Fare
Feature: SibSp
Feature: Fare
Feature: Fare
Feature: Age
Feature: SibSp
Feature: Parch
Feature: Age
Feature: SibSp
Feature: Fare
Feature: Parch
Feature: Parch
Feature: Age
Feature: Age
Feature: Age
Feature: Fare
Feature: Parch
Feature: Pclass
Feature: Pclass
Feature: Age
Feature: SibSp
Feature: Age
Feature: Fare
Feature: Age
Feature: Age
Feature: Age
Feature: SibSp
Feature: Age
Feature: Age
Feature: Fare
Feature: Age
Feature: Pclass
Feature: Age
Feature: Age
Feature: Fare
Feature: Age
Feature: Age
Feature: Parch
Feature: SibSp
Feature: SibSp
Feature: Pclass
Feature: Parch
Feature: SibSp
Feature: Parch
Feature: Age
Feature: Age

In [65]:
#Spliting 
split=int(0.7*Xdata.shape[0])
Xtrain=Xdata[:split]
Ytrain=Y[:split]

Xtest=Xdata[split:]
Xtest.reset_index(drop=True)
Ytest_actual=Y[split:]
Ytest_actual.reset_index(drop=True)

MyDT=DecisionTree()
MyDT.train(Xtrain,Ytrain)

Feature: Sex
Feature: Pclass
Feature: Age
Feature: SibSp
Feature: Pclass
Feature: Age
Feature: Age
Feature: SibSp
Feature: Parch
Feature: Pclass
Feature: SibSp
Feature: Fare
Feature: Parch
Feature: Age
Feature: Pclass
Feature: Age
Feature: Age
Feature: Parch
Feature: Age
Feature: Fare
Feature: Fare
Feature: SibSp
Feature: Age
Feature: Age
Feature: Fare
Feature: Fare
Feature: Age
Feature: Parch
Feature: Fare
Feature: Fare
Feature: Fare
Feature: Age
Feature: Fare
Feature: Parch
Feature: Fare
Feature: Pclass
Feature: Pclass
Feature: Fare
Feature: Fare
Feature: SibSp
Feature: Fare
Feature: Age
Feature: Fare
Feature: Pclass
Feature: SibSp
Feature: Age
Feature: Age
Feature: Age
Feature: Pclass
Feature: Age
Feature: SibSp
Feature: Fare
Feature: SibSp
Feature: Age
Feature: Parch
Feature: SibSp
Feature: SibSp
Feature: Age
Feature: Age
Feature: Age
Feature: Parch
Feature: Age
Feature: Age

In [64]:
ypred=[]
for ix in range(Xtest.shape[0]):
    res=MyDT.predict(Xtest.loc[ix])
    ypred.append(res)
accuracy=np.sum(np.array(Ytest_actual)==np.array(ypred))/ypred.shape[0]
print(accuracy)

KeyError: 0